@font-face {
    font-family: 'SF-Compact';
    src: url('SF-Compact-Display-Light.woff2') format('woff2')
}
@font-face {
    font-family: 'SF-title';
    src: url('title.woff2') format('woff2')
}
#intropage {
    position: absolute;
    top: 0;
    padding-top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#introsearchbar {
    height: 50px;
    width: min(500px, 90%);
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 13pt;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    overflow: hidden;
}
.box {
    border-radius: 5px;
    position: absolute;
    padding: 30px 30px;
    padding-bottom: 10px;
    z-index: 99;
    background-color: white;
}
#infobox {
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
#settings {
    bottom: 20px;
    left: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    margin: 0px;
    padding: 18px;
}
a {
    color: #3875e8;
}
.sf {
    font-family: 'SF-Compact', sans-serif;
    color: #666;
}
* {
    font-family: system-ui;
}
h2 {
    font-family: 'Roboto';
    margin-top: 0;
}
h1 {
    font-family: 'SF-title';
}

.hidden {
    display: none !important;
}

input {
    margin: 10px 10px;
}
label {
    white-space: nowrap;
    font-size: 11pt;
    color: #333;
}
.resultdiv {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}
.pbutton {
    font-size: 11pt;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 30px;
}
.pbutton:hover {
    text-decoration: underline;
}
#recenter {
    margin-left: 30px;
}

#search {
    /* position: absolute; */
    /* margin: auto; */
    position: relative;
    width: 600px;
    /* height: min-content; */
    /* top: 40vh; left: 0; right: 0; */
    /* padding: 10px 20px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.searchbar {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    padding: 0px 10px;
    font-size: 20px;
    font-family: 'SF-Compact', sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
}
#introsearchresults {
    /* margin-top: -20px; */
    background-color: white;
    width: min(450px, 90%);
    padding: 0px 15px;
}
#allbutton {
    transition: 0.5s;
}
#allbutton:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}
#searchresults {
    background-color: white;
    position: absolute;
    width: 300px;
    padding: 0px 15px;
    top: 50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.07);
    margin-right: 50px;
    border-radius: 0 0 5px 5px;
}
#logo {
    cursor: pointer;
    height: 20px;
    width: auto;
}
.result {
    font-size: 12pt;
    color: #444;
    padding: 2px 0px;
}
.result:hover {
    text-decoration: underline;
    cursor: pointer;
}

canvas {
    width: 100%;
    height: 100%;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
#rightbit {
    display: flex;
    align-items: center;
}
button {
    border: 0;
    /* blue */
    background-color: #56a1db;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 13pt;
    font-family: 'SF-Compact', sans-serif;
}
#header {
    height: 25vh;
}
#viewbutton {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
#viewbutton:hover {
    color: #666;
}